TecWeb.Agenda/Web References/UsuarioWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="adicionaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adicionaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="adicionaUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="adicionaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:adicionaUsuario" />
  </wsdl:message>
  <wsdl:message name="adicionaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:adicionaUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioWSSoap">
    <wsdl:operation name="adicionaUsuario">
      <wsdl:input message="tns:adicionaUsuarioSoapIn" />
      <wsdl:output message="tns:adicionaUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioWSSoap" type="tns:UsuarioWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adicionaUsuario">
      <soap:operation soapAction="http://tempuri.org/adicionaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuarioWSSoap12" type="tns:UsuarioWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adicionaUsuario">
      <soap12:operation soapAction="http://tempuri.org/adicionaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioWS">
    <wsdl:port name="UsuarioWSSoap" binding="tns:UsuarioWSSoap">
      <soap:address location="http://localhost:50368/UsuarioWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuarioWSSoap12" binding="tns:UsuarioWSSoap12">
      <soap12:address location="http://localhost:50368/UsuarioWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>